[submodule "deps/cutlass"]
	path = deps/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "deps/z3"]
	path = deps/z3
	url = https://github.com/Z3Prover/z3.git
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
